body{
    margin: 0; 
    padding: 0; 
}
.wrap{
    margin: 0 auto;
    height: 675px;
    width: 1200px;
    background-color: lightslategray;
    overflow: hidden;
    position: relative;
}
p{
    margin: 0;
}

/* ingame */
.mainBtn{
    margin: 17px 0 0 22px;
}
.gohome{
    display: none;
}
.gotohome{
    position: absolute;
    width: 400px; 
    height: 200px; 
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(51  , 51, 51, 0.8); 
    border: 5px solid rgb(85, 57, 39);  
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gotohome>p{
    width: 100%;
    height: 80px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-bottom: 3px solid rgb(85, 57, 39);
    line-height: 80px;
}
.gotohome input{
    width: 100px;
    height: 50px; 
    border-radius: 10px; 
    font-size: 20px;
    border: 0; 
    background-color: rgb(85, 57, 39); 
    color: #fff; 
    cursor: pointer;    

}
.gotohome>div{
    margin-top: 30px;
}
.gotohome>div>input{
    margin: 0 30px;
}
/* randomcards */
.randomcards { 
    position: absolute;
    top: 110px;
    left: -60px;
    display: flex; 
    flex-direction: column;
}

.randomcards img { transition: .2s; }
.randomcards div:nth-child(1):hover > img{ transform: translate( 20px, 10px); }
.randomcards div:nth-child(2):hover > img{ transform: translate( 20px, 0); }
.randomcards div:nth-child(3):hover > img{ transform: translate( 20px, -10px); }

.randomcards div:nth-child(1) > img{
    transform: translate(0, 10px);   
}
.randomcards div:nth-child(3) > img{
    transform: translate(0, -10px);  
}

.randomcards p{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    margin-top: -105px;
    left: 60px;
    background-color: rgba(51  , 51, 51, 0.8);
    width: 110px;
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    border-top: 2px solid rgba(65, 105, 225, 0.9);
    border-bottom: 2px solid rgba(65, 105, 225, 0.9);

    color: white;
    text-align: center;
    transition: .2s;
}
.randomcards div:nth-child(1) > p{
    transform: translateY(10px);   
}
.randomcards div:nth-child(3) > p{
    transform: translateY(-10px);   
}
.randomcards div:hover> p{
    visibility: visible;
    opacity: 1;
    transition: 0.55555s;
}
