body{
    margin: 0; 
    padding: 0; 
}
.sc{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 1200px;
}

/* startpage */
.startpage {
    background-image: url(../img/stbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 675px;
}
.logo{
    width: 100%;
    height: 300px;
}
.logo>img{
    width: 700px;
    height: 100%;
    padding-left: 20px;
}
.bn{
    width: 100%;
    height: 200px;
}
.btn{
    float: left;
    position: relative;
    width: 180px;
    height: 70px; 
    margin-left: 130px;
    font-size: 40px;
    font-weight: bold; 
    border-radius: 10px; 
    border: 2; 
    border-style: solid;
    border-color: transparent;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
.btn:hover{
    color: black;
    border-color: white;
    background-color: #fff;
}
/* rule */
.rule{ 
    display: none;
    position: relative;
    width: 99.9999999999%; 
    height: 99.999999999%; 
    background-color: #cccccc; 
    transform:translate(0,-500px); 
    border: 5px solid rgb(85, 57, 39);  
}
.clo{ 
    position: absolute; 
    width: 75px;
    height: 40px; 
    border-radius: 10px; 
    font-size: 17px;
    border: 0; 
    background-color: rgb(85, 57, 39); 
    color: #fff; 
    
    right: 40px;
    bottom: 30px; 
    cursor: pointer;
}
.clo:hover{
    color:rgb(85, 57, 39);
    border-color: white;
    background-color: #fff;
}

